* {
    margin: 0;
    padding: 0;
}
body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    flex-direction: column;
}
.start {
    position: relative;
}
.score {
    display: flex;
    width: 400px;
    padding: 5px;
    position: relative;
}
.score2 {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.restart-btn {
    height: 30px;
    width: 100px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    opacity: 0.5;
    pointer-events: none;
    left: 160px;
}
.restart-btn:hover {
    background-color: white;
    color: blueviolet;
    font-weight: bold;
    transition: all 0.25s ease;
}
.start-btn {
    height: 30px;
    width: 100px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    left: -45px;
}
.start-btn:hover {
    background-color: white;
    color: blueviolet;
    font-weight: bold;
    transition: all 0.25s ease;
}
.blank {
    background-color:blueviolet;
    height: 125px;
    width: 125px;
    border-radius: 10px;
    cursor: pointer;
}
.blank:hover {
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.54) inset;
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.54) inset;
    -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.54) inset;
}
#grid {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 520px;
    height: 520px;
    pointer-events: none;
}
.beach-chair {
    background-image: url(/Mini_games/Memory/images/beach-chair.png);
    height: 125px;
    width: 125px;
    background-size: cover;
}
.beach {
    background-image: url(/Mini_games/Memory/images/beach.png);
    height: 125px;
    width: 125px;
    background-size: cover;
    
}
.delphine {
    background-image: url(/Mini_games/Memory/images/delphine.png);
    height: 125px;
    width: 125px;
    background-size: cover;
}
.flip-flops {
    background-image: url(/Mini_games/Memory/images/flip-flops.png);
    height: 125px;
    width: 125px;
    background-size: cover;
}
.ice-cream {
    background-image: url(/Mini_games/Memory/images/ice-cream.png);
    height: 125px;
    width: 125px;
    background-size: cover;
}
.sand-castle {
    background-image: url(/Mini_games/Memory/images/sand-castle.png);
    height: 125px;
    width: 125px;
    background-size: cover;
}
.shirt {
    background-image: url(/Mini_games/Memory/images/shirt.png);
    height: 125px;
    width: 125px;
    background-size: cover;
}
.watermelon {
    background-image: url(/Mini_games/Memory/images/watermelon.png);
    height: 125px;
    width: 125px;
    background-size: cover;
}
.rotate {
    animation: rotate 0.25s linear;
}
@keyframes rotate {
    0%{transform: rotateY(0deg);}
    100% {transform: rotateY(180deg);} 
}
@media only screen and (max-width: 1366px) {
    body {
        height: 115vh;
    }
}